* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-width: 100vh;
  background-color: #eff7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 15px;

  #header {
    min-width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
      color: #19a2e6;
      min-width: 7vh;
      min-height: 9vh;
    }

    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #1f3347;
    }
  }

  form {
    min-width: 40vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    justify-content: center;

    input {
      padding: 15px 25px;
      min-width: 25vh;
      border-radius: 15px;
      border: 1px solid rgba(128, 128, 128, 0.414);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: transparent;
      font-size: 1rem;
    }

    input:focus {
      border: 2px solid #19a2e6;
      box-shadow: 0 0 0 4px rgba(42, 168, 255, 0.25);
      outline: 1px solid #2aa8ff;
    }

    button {
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 10px;
      background-color: #84ccf0;
      border: none;
      color: white;
      min-width: 15vh;
      cursor: pointer;
      min-height: 6vh;
      font-size: 1rem;
    }
  }

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #668099;
  }

  #card {
    min-width: 60vh;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;

    #cityName {
      font-size: 2rem;
      font-weight: 600;
      color: #1f3347;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    #weatherIcon {
      width: 20%;
      height: 20%;
      color: #6c7b8a;
    }

    #description {
      margin-top: 0px;
      font-size: 2rem;
      color: #6c7b8a;
      margin-bottom: 15px;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
    }

    .temp {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 20px;
      color: #1f3347;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      span {
        svg {
          color: #19a2e6;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .extra {
      width: 100%;
      display: flex;
      gap: 8px;

      .box {
        background-color: #f0f5f9;
        width: 50%;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
        .label {
          font-size: 1rem;
          color: #6c7b8a;
        }

        p:last-child {
          font-size: 1.5rem;
          font-weight: 600;
          color: #1f3347;
        }
      }
    }
  }
}

//phones
@media (max-width: 500.99px) {
 body{
  overflow: hidden;

   main {
    min-width: 50vh;
    padding: 10px 10px;


    form {
      flex-direction: column;
      gap: 10px;

      input {
        min-width: 30vh;
      }

      button {
        min-width: 25vh;
      }
    }

    #card {
      min-width: 40vh;
    }
  }
 }
}

@media (min-width: 501px) and (max-width: 1024px) {
  main {
    width: 100%;

    #header {
      width: 100%;
      svg {
        min-width: 7vh;
      }
    }
  }
}
