* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  background-color: #eff7fb;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  #header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
    // margin-top: 20px;

    svg {
      color: #19a2e6;
      width: 10%;
      min-height: 8vh;
    }

    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #1f3347;
    }
  }

  form {
    min-width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;

    input {
      padding: 15px;
      min-width: 40vh;
      border-radius: 15px;
      border: 1px solid rgba(128, 128, 128, 0.414);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: transparent;
    }

    input:focus {
      outline: none;
      border: 2px solid #19a2e6;
      box-shadow: 0 0 0 4px rgba(42, 168, 255, 0.25);
      outline: 1px solid #2aa8ff;
    }

    button {
      // margin-left: 20px;
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 10px;
      background-color: #84ccf0;
      border: none;
      color: white;
      width: 22%;
      cursor: pointer;
      min-height: 6vh;

      svg {
        // width: 10%;
        min-height: 1vh;
      }
    }
  }

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #668099;
  }

  #card {
    min-width: 50vh; // adjust size as needed
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; // JS will handle fade-in
    transition: opacity 0.5s ease;
    // min-height: 20vh;
    min-height: auto;

    #cityName {
      font-size: 2rem;
      font-weight: 600;
      // margin-bottom: 10px;
      color: #1f3347;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    #weatherIcon {
      width: 45%;
      height: 45%;
      // margin: 5px 0;
      color: #6c7b8a;
    }

    #description {
      margin-top: 5px;
      font-size: 2rem;
      color: #6c7b8a;
      margin-bottom: 15px;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
    }

    .temp {
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 20px;
      color: #1f3347;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      span {
        svg {
          color: #19a2e6;
          // width: 2rem; /* Increased size of svg inside temp */
          // height: 2rem;
          width: 1.5rem;   /* Set the width of the SVG */
  height: 1.5rem;  /* Set the height of the SVG */
        }
      }
    }

    .extra {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      min-height: auto;

      .box {
        background-color: #f0f5f9;
        width: 50%; /* Adjust width */
        padding: 10px; /* Adjust padding */
        border-radius: 15px;
        text-align: center;
        .label {
          font-size: 0.85rem;
          color: #6c7b8a;
          // margin-bottom: 5px;
        }

        p:last-child {
          font-size: 1rem;
          font-weight: 600;
          color: #1f3347;
        }
      }
    }
  }
}

//phone
@media (max-width: 500px) and (max-height: 799px) {
  main {
    width: 100%;

    #header {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      svg {
        width: 10%;
        min-height: 10vh;
      }

      h1 {
        white-space: nowrap;
      }
    }

    form {
      min-width: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;



      input{
        min-width: 1vh;

      }

       button{
      width: 2vh;
      padding: 5px 5px;

    }
    }

#card{
  min-width: 15vh;
}
  }
}
