* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(131, 131, 60);
}

#card {
  width: 70%;
  min-height: 50vh;
  background: linear-gradient(rgb(239, 230, 230), olive);
  border-radius: 20px;
  padding-bottom: 20px;
  padding: 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  font-size: 20px;
}

#add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

#add-task textarea {
  flex: 1;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  resize: none;
  height: 60px;
  font-size: 16px;
}

#add-task textarea:focus {
  border: 2px solid orange;
}

#addBtn {
  padding: 19.7px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: orange;
  border: 2px solid salmon;
  margin-left: 10px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-list {
  margin-top: 20px;
}

.task-item {
  width: 80%;
  margin: 15px auto;
  padding: 12px 20px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item .task-text {
  flex: 1 1 auto;
  margin-left: 15px;

  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  min-width: 0;
}

.task-item .delete {
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  margin-left: 50px;
}

//phones
@media (max-width: 500px) and (max-height: 799px) {
  main {
    width: 100%;

    #card {
      width: 100%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

//small tablets/large phones
@media (min-width: 501px) and (max-width: 767px) and (min-height: 800px) and (max-height: 899px) {
  main {
    width: 100%;

    #card {
      width: 90%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

//tablets & ipads
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 900px) and (max-height: 1023px) {
  main {
    width: 100%;

    #card {
      width: 90%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

//laptops

@media (min-width: 1025px) and (max-width: 1279px) and (min-height: 700px) and (max-height: 899px) {
  main {
    width: 100%;

    #card {
      width: 90%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

//desktops

@media (min-width: 1280px) and (max-width: 1919px) and (min-height: 800px) and (max-height: 1079px) {
  main {
    width: 100%;

    #card {
      width: 90%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  main {
    width: 100%;

    #card {
      width: 90%;
    }

    #add-task {
      width: 100%;

      textarea {
        width: 90%;
      }

      #addBtn {
        width: 20%;
        right: 5%;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
