* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  min-height: 100vh;
  @include center-box;
  background-color: rgb(131, 131, 60);

  #card {
    margin-top: 50px;
    width: 50%;
    min-height: 50vh;
    background: linear-gradient(rgb(239, 230, 230), olive);
    border-radius: 20px;

    #header {
      @include center-box;
      gap: 10px;
      padding-top: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;

      i {
        margin-top: 5px;
      }
    }

    #add-task {
      @include center-box;
      margin-top: 20px;
      position: relative;

      input {
        width: 50%;
        padding: 20px;
        border-radius: 20px;

        border: none;
        outline: none;
      }

      input:focus {
        border: 2px solid orange;
      }

      #btn {
        position: absolute;
        right: 25%;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        padding: 19.7px 30px;
        background-color: orange;
      }
    }
  }
}
